@import "../../styles/abstracts/_variables.scss";

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $redColor;
  padding: 20px;
}

.error-msg, .error-text {
  color: $whiteColor;
}

.error-msg {
  margin-bottom: 10px;
}