.cart-img {
  display: block;
  object-fit: cover;
  width: 30%;
  border-radius: 15px;
}
.cart-info {
  width: 40%;
}
.cart-title {
  font-size: 30px;
  margin-top: 15px;
}
.cart-text {
  color: #aaa;
  margin-top: 20px;
}
.cart-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}
.price {
  text-align: end;
  font-size: 30px;
  font-weight: bold;
}
.count-controller {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.remove-cart {
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-family: inherit;
}
.cart-btn {
  width: 70px;
  height: auto;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  font-family: inherit;
  cursor: pointer;
}
.cart-value {
  display: flex;
  align-items: center;
  font-size: 30px;
}
